<!--Begin main__img-->
<div class="portfolio">
    <div class="portfolio__work">
        <a href="portfolioItem.html" class="portfolio__image"><img src="https://assets.mycast.io/actor_images/actor-sam-totally-spies-197002_large.jpg?1617915644"></a>
        <div class="portfolio__text">
            <p>Samantha</p>
            <span>June 15, 2012</span>
        </div>
    </div>
    <div class="portfolio__work">
        <a href="portfolioItem.html" class="portfolio__image"><img src="https://p.favim.com/orig/2018/09/03/totallyspies-anime-mood-Favim.com-6270418.jpg"></a>
        <div class="portfolio__text">
            <p>Clover</p>
            <span>June 15, 2012</span>
        </div>
    </div>
    <div class="portfolio__work">
        <a href="portfolioItem.html" class="portfolio__image"><img src="https://i.pinimg.com/474x/c6/0d/2b/c60d2b2243417b352064fcd108499f96.jpg"></a>
        <div class="portfolio__text">
            <p>Alex</p>
            <span>June 15, 2012</span>
        </div>
    </div>
    <div class="portfolio__work">
        <a href="portfolioItem.html" class="portfolio__image"><img src="https://i.pinimg.com/originals/76/a9/50/76a9505635de7a0425b3e29ab241319a.jpg"></a>
        <div class="portfolio__text">
            <p>Mandy</p>
            <span>June 15, 2012</span>
        </div>
    </div>
    <div class="portfolio__work">
        <a href="portfolioItem.html" class="portfolio__image"><img src="https://assets.mycast.io/actor_images/actor-sam-totally-spies-197002_large.jpg?1617915644"></a>
        <div class="portfolio__text">
            <p>Samantha</p>
            <span>June 15, 2012</span>
        </div>
    </div>
    <div class="portfolio__work">
        <a href="portfolioItem.html" class="portfolio__image"><img src="https://p.favim.com/orig/2018/09/03/totallyspies-anime-mood-Favim.com-6270418.jpg"></a>
        <div class="portfolio__text">
            <p>Clover</p>
            <span>June 15, 2012</span>
        </div>
    </div>
    <div class="portfolio__work">
        <a href="portfolioItem.html" class="portfolio__image"><img src="https://i.pinimg.com/474x/c6/0d/2b/c60d2b2243417b352064fcd108499f96.jpg"></a>
        <div class="portfolio__text">
            <p>Alex</p>
            <span>June 15, 2012</span>
        </div>
    </div>
    <div class="portfolio__work ">
        <a href="portfolioItem.html" class="portfolio__image"><img src="https://i.pinimg.com/originals/76/a9/50/76a9505635de7a0425b3e29ab241319a.jpg"></a>
        <div class="portfolio__text">
            <p>Mandy</p>
            <span>June 15, 2012</span>
        </div>
    </div>
    <div class="portfolio__work">
        <a href="portfolioItem.html" class="portfolio__image"><img src="https://assets.mycast.io/actor_images/actor-sam-totally-spies-197002_large.jpg?1617915644"></a>
        <div class="portfolio__text">
            <p>Samantha</p>
            <span>June 15, 2012</span>
        </div>
    </div>
    <div class="portfolio__work">
        <a href="portfolioItem.html" class="portfolio__image"><img src="https://p.favim.com/orig/2018/09/03/totallyspies-anime-mood-Favim.com-6270418.jpg"></a>
        <div class="portfolio__text">
            <p>Clover</p>
            <span>June 15, 2012</span>
        </div>
    </div>
    <div class="portfolio__work">
        <a href="portfolioItem.html" class="portfolio__image"><img src="https://i.pinimg.com/474x/c6/0d/2b/c60d2b2243417b352064fcd108499f96.jpg"></a>
        <div class="portfolio__text">
            <p>Alex</p>
            <span>June 15, 2012</span>
        </div>
    </div>
    <div class="portfolio__work">
        <a href="portfolioItem.html" class="portfolio__image"><img src="https://i.pinimg.com/originals/76/a9/50/76a9505635de7a0425b3e29ab241319a.jpg"></a>
        <div class="portfolio__text">
            <p>Mandy</p>
            <span>June 15, 2012</span>
        </div>
    </div>
</div>
<!--End main__img-->
</div>