<!--Begin main__information-->
<div class="home">
    <!--Begin section first-->
    <div class="home__section section">
        <div class="section__name">
            <div class="section__name__icon"><img src="./icons/home_icon/icon1.png"></div>
            <div class="section__name__title">check out my latest portfolio items</div>
        </div>
        <div class="section__information">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas ducimus, at earum saepe incidunt porro expedita? Necessitatibus consequuntur saepe, quae molestiae animi facilis! Amet corrupti possimus debitis fugiat fugit reprehenderit.</p>
        </div>
        <div class="section__button">
            <button>more</button>
        </div>
    </div>
    <!--End section first-->
       <!--Begin section second-->
       <div class="home__section section">
           <div class="section__name">
               <div class="section__name__icon"><img src="./icons/home_icon/icon2.png"></div>
               <div class="section__name__title">offer top notch quality work and services</div>
           </div>
           <div class="section__information">
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas ducimus, at earum saepe incidunt porro expedita? Necessitatibus consequuntur saepe, quae molestiae animi facilis! Amet corrupti possimus debitis fugiat fugit reprehenderit.</p>
           </div>
           <div class="section__button">
               <button>more</button>
           </div>
       </div>
       <!--End section second-->
          <!--Begin section third-->
    <div class="home__section section">
       <div class="section__name">
           <div class="section__name__icon"><img src="./icons/home_icon/icon3.png"></div>
           <div class="section__name__title">follow me on twitter. facebook and pinterest</div>
       </div>
       <div class="section__information">
           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas ducimus, at earum saepe incidunt porro expedita? Necessitatibus consequuntur saepe, quae molestiae animi facilis! Amet corrupti possimus debitis fugiat fugit reprehenderit.</p>
       </div>
       <div class="section__button">
           <button>more</button>
       </div>
   </div>
   <!--End section third-->
   </div>
   <!--End main__information-->