
<div class="main__block__main">
<!--Begin title-->
      <div class="title__main">
        <div class="main__swiper">
        <div class="swiper mySwiper2">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="https://3dnews.ru/assets/external/illustrations/2021/09/16/1049165/00.jpg" />
          <div class="text__block">
            <p>SLIDE ONE</p>
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, cupiditate illum omnis quod doloremque non accusamus explicabo adipisci corporis quia? Nulla, sit aperiam corrupti aspernatur quis voluptatibus natus quidem beatae?</span>
        </div>
        </div>
        <div class="swiper-slide">
          <img src="https://cdnimg.rg.ru/img/content/146/58/65/1_t_650x433.jpg" />
          <div class="text__block">
            <p>SLIDE TWO</p>
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, cupiditate illum omnis quod doloremque non accusamus explicabo adipisci corporis quia? Nulla, sit aperiam corrupti aspernatur quis voluptatibus natus quidem beatae?</span>
          </div>
        </div>
        <div class="swiper-slide">
          <img src="https://games.mail.ru/hotbox/content_files/news/2021/07/13/de49abd35b05403287d512f9837ae988.jpg" />
          <div class="text__block">
            <p>SLIDE THREE</p>
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, cupiditate illum omnis quod doloremque non accusamus explicabo adipisci corporis quia? Nulla, sit aperiam corrupti aspernatur quis voluptatibus natus quidem beatae?</span>
          </div>
        </div>
        <div class="swiper-slide">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRMZBqChvt1WPngcpl9XDU0D6__gu6nxC0uAw&usqp=CAU" />
          <div class="text__block">
            <p>SLIDE FOURTH</p>
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, cupiditate illum omnis quod doloremque non accusamus explicabo adipisci corporis quia? Nulla, sit aperiam corrupti aspernatur quis voluptatibus natus quidem beatae?</span>
          </div>
        </div>
        <div class="swiper-slide">
          <img src="https://trashbox.ru/ifiles/1473840_bff99f_nickelodeonallstarbrawlsplash.jpg-max1/2021-07-14-nickelodeon-all-star-brawl-6.jpg" />
          <div class="text__block">
            <p>SLIDE FIVE</p>
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, cupiditate illum omnis quod doloremque non accusamus explicabo adipisci corporis quia? Nulla, sit aperiam corrupti aspernatur quis voluptatibus natus quidem beatae?</span>
          </div>
        </div>
        <div class="swiper-slide">
          <img src="https://www.sostav.ru/app/public/images/news/2013/10/07/Spongebob-Sqished-nickelodeon-20661550-1024-768.jpg?rand=0.9428018410690129" />
          <div class="text__block">
            <p>SLIDE SIX</p>
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, cupiditate illum omnis quod doloremque non accusamus explicabo adipisci corporis quia? Nulla, sit aperiam corrupti aspernatur quis voluptatibus natus quidem beatae?</span>
          </div>
        </div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
    <div thumbsSlider="" class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="https://3dnews.ru/assets/external/illustrations/2021/09/16/1049165/00.jpg" />
        </div>
        <div class="swiper-slide">
          <img src="https://cdnimg.rg.ru/img/content/146/58/65/1_t_650x433.jpg" />
        </div>
        <div class="swiper-slide">
          <img src="https://games.mail.ru/hotbox/content_files/news/2021/07/13/de49abd35b05403287d512f9837ae988.jpg" />
        </div>
        <div class="swiper-slide">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRMZBqChvt1WPngcpl9XDU0D6__gu6nxC0uAw&usqp=CAU" />
        </div>
        <div class="swiper-slide">
          <img src="https://trashbox.ru/ifiles/1473840_bff99f_nickelodeonallstarbrawlsplash.jpg-max1/2021-07-14-nickelodeon-all-star-brawl-6.jpg" />
        </div>
        <div class="swiper-slide">
          <img src="https://www.sostav.ru/app/public/images/news/2013/10/07/Spongebob-Sqished-nickelodeon-20661550-1024-768.jpg?rand=0.9428018410690129" />
        </div>
      </div>
        </div>
      </div>
      </div>
      <!--End title-->