 <!--Begin main__block-->
 <div class="main">
    <!--Begin main__content-->
    <div class="main__content">
        <!--Begin map__block-->
        <div class="map__block">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2542.0721906484823!2d30.596747315946192!3d50.42112659735807!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4c5786c1083cb%3A0x844b8427f14a5ca8!2z0YPQuy4g0JHQtdGA0LXQt9C90Y_QutC-0LLRgdC60LDRjywgMjcsINCa0LjQtdCyLCAwMjAwMA!5e0!3m2!1sru!2sua!4v1633870859726!5m2!1sru!2sua">
            </iframe>
        </div>
        <!--End map__block-->
        <!--Begin contact__inform-->
        <div class="contact">
            <!--Begin contacts__adress-->
            <div class="contact__adress">
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis est minima ratione non quaerat nemo, tempore ea. Nobis dolorem nisi quos odio voluptate maxime recusandae, sit ad quasi obcaecati alias. </span>
                <div class="adress">
                    <span>Best PSD Freebles</span>
                    <p>328 Ave C</p>
                    <p>Saskatoon, SK</p>
                    <p>S7R 2V9</p>
                </div>
                <div class="number">
                    <p class="first__number">(888) 842-8356</p>
                    <p class="second__number">(888) 452-9257</p>
                    <p class="email">info@psdfreebies.com</p>
                </div>
            </div>
            <!--End contacts__adress-->
            <!--Begin input__inform-->
            <div class="contact__inform">
                <div><input type="text" value="FIRSTNAME"></div>
                <div><input type="text" value="LASTNAME"></div>
                <div><input type="text" value="EMAIL ADRESS"></div>
                <div class="message"><input type="text" value="MESSAGE"></div>
                <button>submit</button>
            </div>
            <!--End input__inform-->
        </div>
        <!--End contact__inform-->
    </div>
    <!--End main__content-->
<!--End main__block-->