          <!--Begin footer-->
        <div class="footer footer--blog">
            <!--Begin footer__mainBlock-->
            <div class="footer__content">
            <div class="footer__column">
                <h3 class="footer__title">ABOU JETRO</h3>
                <div class="footer__text">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi harum consequuntur doloribus soluta minima animi eligendi magnam molestiae tenetur. Ducimus eaque eos repudiandae neque porro dolorum expedita sint accusantium ipsam?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus aliquam quo nulla quam inventore.  <br><br>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam ipsam commodi reprehenderit, harum impedit facere nihil nostrum autem officiis, minus quo sequi ut rerum deleniti mollitia fugit est ipsum error.</p>
                </div>
            </div>
            <div class="footer__column">
                <h3 class="footer__title">TWITTER WIDGET</h3>
                <div class="footer__tweets">
                    <ul class="footer__tweets__list">
                        <li>
                            <div>@pixelmater</div>
                            <span>What is awesome desighnt with great functionality :)</span>
                            <p>about 1 hour ago</p>
                        </li>
                        <li>
                            <div>@designdude</div>
                            <span>What is awesome desighnt with great functionality :)</span>
                            <p>about 2 hour ago</p>
                        </li>
                        <li>
                            <span>Follow</span>
                            <div>@designdud</div>
                        </li>
                    </ul> 
                </div>
            </div>
            <div class="footer__column">
                <h3 class="footer__title">CONTACT US</h3>
                <div class="footer__text">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis est qui voluptas harum quisquam deserunt nesciunt blanditiis illum itaque alias quaerat molestiae cum rem minus optio soluta rerum, modi aliquid.<br><br>
                    information@jetro.com<br>
                1.22.333.4444</p>
                </div>
                <div class="footer__icons">
                    <img src="./icons/footer__icon/icon1.png">
                    <img src="./icons/footer__icon/icon2.png">
                    <img src="./icons/footer__icon/icon3.png">
                    <img src="./icons/footer__icon/icon4.png">
                    <img src="./icons/footer__icon/icon5.png">
                </div>
            </div>
            </div>
            <!--End footer__mainBlock-->
        </div>
        <!--End footer--> 
    </div>